aiohappyeyeballs==2.4.6 ; python_version >= "3.9" and python_version < "4.0"
aiohttp==3.11.12 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.9" and python_version < "3.11"
attrs==25.1.0 ; python_version >= "3.9" and python_version < "4.0"
backports-tarfile==1.2.0 ; python_version >= "3.9" and python_version < "3.12" and platform_machine != "ppc64le" and platform_machine != "s390x"
build==1.2.2.post1 ; python_version >= "3.9" and python_version < "4.0"
cachetools==5.5.2 ; python_version >= "3.9" and python_version < "4.0"
cerberus==1.3.7 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux" and platform_python_implementation != "PyPy"
chardet==5.2.0 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
check-manifest==0.50 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
cryptography==43.0.3 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux"
dephell-archive==0.1.7 ; python_version >= "3.9" and python_version < "4.0"
dephell-argparse==0.1.3 ; python_version >= "3.9" and python_version < "4.0"
dephell-changelogs==0.0.1 ; python_version >= "3.9" and python_version < "4.0"
dephell-discover==0.2.10 ; python_version >= "3.9" and python_version < "4.0"
dephell-licenses==0.1.7 ; python_version >= "3.9" and python_version < "4.0"
dephell-links==0.1.5 ; python_version >= "3.9" and python_version < "4.0"
dephell-markers==1.0.3 ; python_version >= "3.9" and python_version < "4.0"
dephell-pythons==0.1.15 ; python_version >= "3.9" and python_version < "4.0"
dephell-setuptools==0.2.5 ; python_version >= "3.9" and python_version < "4.0"
dephell-shells==0.1.5 ; python_version >= "3.9" and python_version < "4.0"
dephell-specifier==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
dephell-venvs==0.1.18 ; python_version >= "3.9" and python_version < "4.0"
dephell-versioning==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
dephell==0.8.3 ; python_version >= "3.9" and python_version < "4.0"
distlib==0.3.9 ; python_version >= "3.9" and python_version < "4.0"
docutils==0.21.2 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
filelock==3.17.0 ; python_version >= "3.9" and python_version < "4.0"
flake8==7.1.2 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
id==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==8.6.1 ; python_version >= "3.9" and python_version < "3.12" and (platform_machine != "ppc64le" and platform_machine != "s390x" or python_full_version < "3.10.2")
iniconfig==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
jaraco-classes==3.4.0 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
jaraco-context==6.0.1 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
jaraco-functools==4.1.0 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
jeepney==0.8.0 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux"
jinja2==3.1.5 ; python_version >= "3.9" and python_version < "4.0"
keyring==25.6.0 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
m2r==0.3.1 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
mistune==0.8.4 ; python_version >= "3.9" and python_version < "4.0"
more-itertools==10.6.0 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x"
multidict==6.1.0 ; python_version >= "3.9" and python_version < "4.0"
nh3==0.2.20 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.9" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.9" and python_version < "4.0"
pip==19.3.1 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.9" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
propcache==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux" and platform_python_implementation != "PyPy"
pyflakes==3.2.0 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "4.0"
pyproject-api==1.9.0 ; python_version >= "3.9" and python_version < "4.0"
pyproject-hooks==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
pytest==8.3.4 ; python_version >= "3.9" and python_version < "4.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "win32"
readme-renderer==44.0 ; python_version >= "3.9" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rfc3986==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.9" and python_version < "4.0"
ruamel-yaml-clib==0.2.12 ; python_version >= "3.9" and python_version < "3.13" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.10 ; python_version >= "3.9" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.9" and python_version < "4.0" and platform_machine != "ppc64le" and platform_machine != "s390x" and sys_platform == "linux"
setuptools==75.8.0 ; python_version >= "3.9" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.9" and python_version < "4.0"
termcolor==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.9" and python_version < "4.0"
tox==4.24.1 ; python_version >= "3.9" and python_version < "4.0"
twine==6.1.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11"
urllib3==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
virtualenv==20.29.2 ; python_version >= "3.9" and python_version < "4.0"
yarl==1.18.3 ; python_version >= "3.9" and python_version < "4.0"
yaspin==3.1.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.12" and (platform_machine != "ppc64le" and platform_machine != "s390x" or python_full_version < "3.10.2")
